$body-bg:#333;
$font-color:#fff;
$primary-color:#008ed6;


body{
  background:$body-bg;
  color:$font-color;
}
.navbar{
  border-bottom: 3px solid $primary-color;
  background: #292b2c;
  opacity: 0.7;
}
